.menu {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.ul {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.11);
}

.link.active {
  /* background-color: rgb(255, 72, 0); */
  color: #fff;
  border-bottom: 2px solid #ff4800;
}

@media (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    right: 0;
    left: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #141526;
    z-index: 10;
    transition: left 1s;
  }

  .active {
    left: 0;
  }

  .ul {
    margin: 0 auto;
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .link {
    font-size: 24px;
    border-bottom: none;
  }

  .link:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #ff4800;
  }

  .link.active {
    /* background-color: rgb(255, 72, 0); */
    color: #ff4800;
    border-bottom: none;
  }
}
